name: Conty CI

on:
  schedule:
    - cron:  '0 0 * * 5'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          lfs: 'false'
          
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Download artifact
        id: download-artifact
        uses: dawidd6/action-download-artifact@v6
        with:
          workflow: utils.yml
          workflow_conclusion: success
          if_no_artifact_found: ignore
          path: /opt

      - name: Build Conty
        run: |
          if [ -f /opt/Utils/utils.tar.gz ]; then
              cp /opt/Utils/* .
          fi

          chmod +x create-arch-bootstrap.sh create-conty.sh
          sudo ./create-arch-bootstrap.sh && ./create-conty.sh
      - name: Split files
        run: |
           mkdir splitted
           split -b 1500M conty.sh splitted/conty.sh.
      - name: Delete old files
        uses: mknejp/delete-release-assets@v1
        with:
          token: ${{ github.token }}
          tag: main
          assets: '*.*'
          fail-if-no-assets: false
          fail-if-no-release: false
        if: github.ref == 'refs/heads/master'
        
      - name: Release to main
        uses: softprops/action-gh-release@v2.3.2
        with:
          files: splitted/*
          tag_name: main
        if: github.ref == 'refs/heads/master'
